*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
/*--- Media Query for mobile device ---*/
@media(min-width:320px){
	
/* nav section */	
.nav-container{
	margin: auto;
    width: 90%;

}
.nav-logo img{
    width: 50%;
    height: 5vh;
}
.nav-logo h2{
    padding-right: 12px;
    font-family: sans-serif;
    font-size: 13px;
}
.nav-logo p{
    display:none;
}
.nav-logo i{
	display:none;
}
.nav-list{
	display: flex;
    align-items: center;
}
.nav-list ul li{
	list-style-type: none;
    font-size: 11px;
    font-family: math;
    padding-right: 8px;
    cursor: pointer;
    display: flex;
}
.nav-list ul{
    display:flex;
}
.nav-list button{
	border: none;
    font-size: 11px;
	cursor:pointer;
}
.nav-row{
	display:flex;
	
}
.nav-logo{
	display:flex;
	justify-content: center;
    align-items: center;
	margin-left: -19px;
}
	


/* cart items */
.cart-sec{
    position: fixed;
    top: 32px;
    right: -242px;
    width: 241px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px #80808036;
}	
.cart-active{
	z-index: 2;
    right: 94px;
    transition: 0.5s;
}
.cart-title{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
    font-family: sans-serif;
    border-bottom: 1px solid #0000001f;
    padding-bottom: 10px;
}
.cart-box{
    display: grid;
    grid-template-columns: 28% 54% 13%;
    align-items: center;
    gap: 2%;
    margin-top: 5px;
    border-bottom: 1px solid #0000001f;
    padding-bottom: 5px;
}
.cart-img{
    width: 60px;
    height: 61px;
    object-fit: cover;
    border: 2px solid #80808040;
    padding: 4px;
}
.cart-food-title{
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 4px;
    color: red;
}
.price-box{
	display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-family: math;
}
.cart-quantity{
    border: 1px solid #8f8b8b73;
    outline: none;
    width: 30px;
    text-align: center;
    font-size: 9px;
    margin-top: 6px;
}
#cart-remove{
	font-size: 14px;
    text-align: center;
	color:red;
}
#close{
	display: flex;
    justify-content: end;
}
.total{
    display: flex;
    gap: 3%;
    justify-content: end;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 10px 0px;
}
.btn-buy{
	padding: 11px;
    background-color: #575151;
    color: white;
    border: none;
    font-weight: 700;
}




/* food item */
.item-row{
    font-size: 17px;
    padding-top: 30px
}	
.food-item{
	display:flex;
    flex-wrap:wrap;
}
.food-item img{
	width: 50%;
    height: 30vh;
}



/* owl */

.owl-sec{
	background-color:black;
	padding-top: 31px;
    padding-left: 35px;
}

	


/* food item */
.item-container{
	width:90%;
	margin:auto;
}

.item-row {
    font-size: 17px;
    padding: 30px 10px 10px;
}
.item-row h1{
	font-size: 20px;
}
.food-item{
	display:flex;
    flex-wrap:wrap;
}
.food-item img{
	width: 50%;
    height: 16vh;
}


/* button */
.btn-row{
	display:flex;
	justify-content: space-between;
	padding-top: 40px;
    padding-bottom: 10px;
}
.btn-row h2{
	font-size: 7px;
}
.btn-container{
	width:90%;
	margin:auto;
}
.btn-btn{
	display: flex;
}
.btn-btn button{
	padding: 0px 2px;
    border-radius: 12px;
    border: 0px solid #8080809e;
    cursor: pointer;
    font-size: 8px;
    overflow: hidden;
}
.btn-btn button:hover{
	background-color:gray;
	color:white;
	cursor: pointer;
    display: flex;
}


/* card */
.col{
	width:100%;
}
.col-card img{
	width: 100%;
    height: 27vh;
}
.container{
	margin: auto;
    width: 90%;

}
.row{
	display:flex;
	flex-wrap:wrap;
}

.col-card{
	box-shadow: 0 0 10px #6a6464;
    margin: 15px;
    position: relative;
}

.col-card h2{
    padding-left: 5px;
    padding-top: 2px;
    font-family: sans-serif;
    font-size: 15px;
    padding-bottom: 1px;
}

.col-card p{
	font-family: math;
    font-size: 10px;
    padding-left: 5px;
    margin-top: 1px;
}

.icon-div{
	display:flex;
}
.icon-div-green{
	background-color: green;
    color: white;
    width: 11%;
    padding: 3px 4px 3px 4px;
    margin: 4px 0px 0px 5px;
    border-radius: 4px 4px;
    font-size: 7px;
}
.icon-div-green i{
	margin-top: 3px;
}

.icon-div-orange{
	background-color:orange;
	color:white;
	width: 12%;
    padding: 3px;
	margin: 5px;
}
.icon-div-red{
	background-color:red;
	color:white;
	width: 12%;
    padding: 3px;
	margin: 5px;
}
.amount-div{
	display: flex;
    margin: -3px;
    padding-bottom: 10px;
}
.amount-div p{
    font-family: math;
    font-size: 12px;
    padding-right: 30px;
    margin-top: 13px;  
}
.col-card button{
	background-color: rgb(196, 117, 229);
    border: none;
    padding: 4px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 12px;
    right: 10px;
	cursor:pointer;
}


/* contact */
.contact-col{
	width:100%;
}
.contact-row{
    text-align:center;
    margin: 30px 30px 0px 30px;
	
}
.contact-sec{
	background-color:black;
	color:white;
}

.contact-col ul li{
	list-style-type:none;
	line-height: 1.5;
}
.contact-col ul li img{
    width: 43%;
    margin-top: 12px;
}
.contact-col h3{
    color: gray;
    padding-bottom: 10px;
    padding-top: 12px;
    font-size: 13px;
}
.contact-col ul{
	font-size: 9px;
}

}





/*--- Media Query for tablet device ---*/
@media(min-width:720px){


/*nav section */

.nav-container{
	margin: auto;
    width: 90%;

}
.nav-logo img{
    width: 30%;
    height: 5vh;
}
.nav-logo h2{
    padding-right: 12px;
	font-family: sans-serif;
}
.nav-logo p{
	width: 51%;
    font-size: 15px;
    padding-right: 10px;
    font-family: math;
}
.nav-list{
	display: flex;
    align-items: center;
}
.nav-list ul li{
	list-style-type:none;
	font-size: 17px;
    font-family: math;
    padding-right: 18px;
	cursor:pointer;
}
.nav-list ul{
    display:flex;
}
.nav-list button{
	border: none;
    font-size: 16px;
	cursor:pointer;
}
.nav-row{
	display:flex;
	justify-content:space-between;
}
.nav-logo{
	display:flex;
	justify-content: center;
    align-items: center;
}



/* cart items */
.cart-sec{
    position: fixed;
    top: 42px;
    right: -417px;
    width: 400px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px #80808036;
}	
.cart-active{
	z-index: 2;
	right:0;
	transition:0.5s;
}
.cart-title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: sans-serif;
    border-bottom: 1px solid #0000001f;
    padding-bottom: 17px;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 2%;
    margin-top: 4px;
    border-bottom: 1px solid #0000001f;
    padding-bottom: 15px;
}
.cart-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 2px solid #80808040;
    padding: 5px;
}
.cart-food-title{
	font-size: 19px;
    font-family: sans-serif;
    padding-bottom: 6px;
    color: red;
}
.price-box{
	display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-family: math;
}
.cart-quantity{
	border: 1px solid #8f8b8b73;
    outline: none;
    width: 41px;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}
#cart-remove{
	font-size: 20px;
    text-align: center;
	color:red;
}
#close{
	display: flex;
    justify-content: end;
}
.total{
    display: flex;
    gap: 3%;
    justify-content: end;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 20px 0px;
}
.btn-buy{
	padding: 11px;
    background-color: #575151;
    color: white;
    border: none;
    font-weight: 700;
}




/* owl*/
.owl-sec{
	background-color:black;
	padding-top: 31px;
    padding-left: 35px;
}

	


/* food item */
.item-row{
    font-size: 24px;
    padding-top: 30px
}
.food-item{
	display:flex;
}
.food-item img{
	width: 33.3%;
    height: 17vh;
}
.item-container{
	width:90%;
	margin:auto;
}




/* button */
.btn-row{
	display:flex;
	justify-content: space-between;
	padding-top: 40px;
    padding-bottom: 10px;
}
.btn-row h2{
	font-size: 25px;
}
.btn-container{
	width:90%;
	margin:auto;
}

.btn-btn button{
	padding: 3px 20px;
    border-radius: 12px;
    border: 0px solid #8080809e;
	cursor:pointer;
}
.btn-btn button:hover{
	background-color:gray;
	color:white;
	cursor: pointer;
    display: flex;
}


/* card */
.col{
	width:50%;
}
.col-card img{
	width: 100%;
    height: 25vh;
}
.container{
	margin: auto;
    width: 90%;

}
.row{
	display:flex;
	flex-wrap:wrap;
}

.col-card{
	box-shadow: 0 0 10px #6a6464;
    margin: 15px;
    position: relative;
}

.col-card h2{
    padding-left: 5px;
    padding-top: 7px;
    font-family: sans-serif;
    font-size: 22px;
    padding-bottom: 1px;
}

.col-card p{
	font-family: math;
    font-size: 15px;
    padding-left: 5px;
    margin-top: 1px;
}

.icon-div{
	display:flex;
}
.icon-div-green{
	background-color: green;
    color: white;
    width: 12%;
    padding: 3px 4px 3px 4px;
    margin: 14px 0px 0px 5px;
    border-radius: 4px 4px;
    font-size: 14px;
}
.icon-div-orange{
	background-color:orange;
	color:white;
	width: 12%;
    padding: 3px;
	margin: 5px;
}
.icon-div-red{
	background-color:red;
	color:white;
	width: 12%;
    padding: 3px;
	margin: 5px;
}
.amount-div{
	display: flex;
    margin: 5px;
    padding-bottom: 10px;
}
.amount-div p{
	font-family: math;
    font-size: 17px;
    padding-right: 30px;
    margin-top: 13px;
}
.col-card button{
	background-color: rgb(196, 117, 229);
    border: none;
    padding: 5px;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 12px;
    right: 10px;
	cursor:pointer;
}


/* contact */
.contact-col{
	width:20%;
}
.contact-row{
	display:flex;
	justify-content: space-evenly;
    margin: 30px 30px 0px 30px;
	padding: 35px 0;
}

.contact-sec{
	background-color:black;
	color:white;
}

.contact-col ul li{
	list-style-type:none;
	line-height: 1.5;
}
.contact-col h3{
	color:gray;
	padding-bottom: 10px;
}
	
}







/*--- Media Query for laptop device ---*/
@media(min-width:1000px){
.nav-container{
	margin: auto;
    width: 90%;

}
.nav-row{
	display:flex;
	justify-content:space-between;
}
.nav-logo{
	display:flex;
	justify-content: center;
    align-items: center;
}
.nav-logo img{
    width: 30%;
    height: 9vh;
}
.nav-logo h2{
	font-size: 21px;
    padding-right: 12px;
	font-family: sans-serif;
}
.nav-logo p{
	display:flex;
	width: 51%;
    font-size: 15px;
    padding-right: 10px;
    font-family: math;
}
.nav-logo i{
	display:flex;
}
.nav-list{
	display: flex;
    align-items: center;
}
.nav-list ul li{
	list-style-type:none;
	font-size: 17px;
    font-family: math;
    padding-right: 20px;
	cursor:pointer;
}
.nav-list ul li i{
	    padding-right: 7px;
}
.nav-list ul{
    display:flex;
}
.nav-list button{
	border: none;
    font-size: 16px;
	cursor:pointer;
}
.nav-row{
	display:flex;
	justify-content:space-between;
}
.nav-logo{
	display:flex;
	justify-content: center;
    align-items: center;
}



/* cart items */
.cart-sec{
    position: fixed;
    top: 42px;
    right: -417px;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px #80808036;
}	
.cart-active{
	z-index: 2;
	right:0;
	transition:0.5s;
}
.cart-title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: sans-serif;
    border-bottom: 1px solid #0000001f;
    padding-bottom: 17px;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 2%;
    margin-top: 4px;
    border-bottom: 1px solid #0000001f;
    padding-bottom: 15px;
}
.cart-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 2px solid #80808040;
    padding: 5px;
}
.cart-food-title{
	font-size: 19px;
    font-family: sans-serif;
    padding-bottom: 6px;
    color: red;
}
.price-box{
	display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-family: math;
}
.cart-quantity{
	border: 1px solid #8f8b8b73;
    outline: none;
    width: 41px;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}
#cart-remove{
	font-size: 20px;
    text-align: center;
	color:red;
}
#close{
	display: flex;
    justify-content: end;
}
.total{
    display: flex;
    gap: 3%;
    justify-content: end;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 20px 0px;
}
.btn-buy{
	padding: 11px;
    background-color: #575151;
    color: white;
    border: none;
    font-weight: 700;
}




/* owl*/
.owl-sec{
	background-color:black;
	padding-top: 31px;
    padding-left: 35px;
}

	


/* food item */
.item-container{
	width:90%;
	margin:auto;
}

.item-row{
    font-size: 24px;
    padding-top: 30px
}
.item-row h1{
	font-size: 33px;
}
.food-item{
	display:flex;
    flex-wrap:nowrap;
}
.food-item img{
	width: 50%;
    height: 30vh;
}



/* button */
.btn-row{
	display:flex;
	justify-content: space-between;
	padding-top: 40px;
    padding-bottom: 10px;
}
.btn-row h2{
	font-size: 25px;
}
.btn-container{
	width:90%;
	margin:auto;
}

.btn-btn button{
	font-size:13px;
	padding: 3px 20px;
    border-radius: 12px;
    border: 0px solid #8080809e;
	cursor:pointer;
}
.btn-btn button:hover{
	background-color:gray;
	color:white;
	cursor: pointer;
    display: flex;
	padding-top: 6px;
}


/* card */
.col{
	width:33.3%;
}
.col-card img{
	width: 100%;
    height: 40vh;
}
.container{
	margin: auto;
    width: 90%;

}
.row{
	display:flex;
	flex-wrap:wrap;
}

.col-card{
	box-shadow: 0 0 10px #6a6464;
    margin: 15px;
    position: relative;
}

.col-card h2{
    padding-left: 5px;
    padding-top: 7px;
    font-family: sans-serif;
    font-size: 22px;
    padding-bottom: 1px;
}

.col-card p{
	font-family: math;
    font-size: 15px;
    padding-left: 5px;
    margin-top: 1px;
}

.icon-div{
	display:flex;
}
.icon-div-green{
	background-color: green;
    color: white;
    width: 12%;
    padding: 3px 4px 3px 4px;
    margin: 14px 0px 0px 5px;
    border-radius: 4px 4px;
    font-size: 14px;
}
.icon-div-orange{
	background-color:orange;
	color:white;
	width: 12%;
    padding: 3px;
	margin: 5px;
}
.icon-div-red{
	background-color:red;
	color:white;
	width: 12%;
    padding: 3px;
	margin: 5px;
}
.amount-div{
	display: flex;
    margin: 5px;
    padding-bottom: 10px;
}
.amount-div p{
	font-family: math;
    font-size: 17px;
    padding-right: 30px;
    margin-top: 13px;
}
.col-card button{
	background-color: rgb(196, 117, 229);
    border: none;
    padding: 5px;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 12px;
    right: 10px;
	cursor:pointer;
}


/* contact */
.contact-col{
	width:20%;
}
.contact-row{
	display:flex;
	justify-content: space-evenly;
    margin: 30px 30px 0px 30px;
	padding: 35px 0;
}
.contact-sec{
	background-color:black;
	color:white;
}
.contact-col ul{
    font-size: 13px;
}
.contact-col ul li{
	list-style-type:none;
	line-height: 1.5;
}
.contact-col h3{
	color:gray;
	padding-bottom: 10px;
	font-size: 20px;
}
}
























